@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    --foreground-rgb: 58, 30, 11;
    --background-start: 40, 42, 54;
    --accent-rgb: 111, 78, 55;
} */

/* @media (prefers-color-scheme: dark) { */
:root {
    --foreground-rgb: 248, 248, 242;
    --background-start: 40, 42, 54;
    --accent-rgb: 139, 233, 253;
}
.title {
    color: rgb(var(--accent-rgb));
}
/* } */

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
    .accent-border {
        border-color: rgb(var(--accent-rgb));
    }
    .invert-txt {
        background-color: rgb(var(--foreground-rgb));
        text-color: rgb(var(--background-start));
        color: rgb(var(--background-start));
    }
}
