@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 34, 49, 34; /* Dark Green */
    --background-start: 255, 239, 213; /* Lighter Tan */
    --accent-rgb: 85, 107, 47; /* Olive Drab */
}

.title {
    color: rgb(var(--accent-rgb));
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start));
}

a {
    text-decoration: underline;
    /* 20% lighter on hover*/
    &:hover {
        color: rgb(var(--accent-rgb));
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
    .accent-border {
        border-color: rgb(var(--accent-rgb));
    }
    .invert-txt {
        background-color: rgb(var(--foreground-rgb));
        text-color: rgb(var(--background-start));
        color: rgb(var(--background-start));
    }

    .bf-1 {
        border-color: rgb(var(--foreground-rgb));
    }
}
