@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 58, 30, 11; /* Dark brown for text, like ground coffee */
    --background-start: 247, 230,
        203 /* Light latte cream color */ --accent-rgb: 111, 78, 55; /* Medium espresso shot color for accents */
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 247, 235; /* Creamy off-white for dark mode text */
        --background-start: 33, 24, 21; /* Very dark brown, like a rich espresso */
        --accent-rgb: 142, 105, 89; /* Warm brown, good for highlights or buttons in dark mode */
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
    .accent-border {
        border-color: rgb(var(--accent-rgb));
    }
    .invert-txt {
        background-color: rgb(var(--foreground-rgb));
        text-color: rgb(var(--background-start));
        color: rgb(var(--background-start));
    }
}
